*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

p, h1, h2, h3, h4,h5{
  line-height: 40px;
  font-size: 16px;
}


.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 60px auto auto auto;
  grid-template-areas:
  "nav nav nav nav"
  "header header header header"
  "main main main aside"
  "footer footer footer footer";
  height: 100vh;
}

nav{
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: black;
}

header{
  grid-area: header;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

main{
  grid-area: main;
  display: flex;
  flex-direction: column;
  position: relative;
}

aside{
  grid-area: aside;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

footer{
  grid-area: footer;
  display: flex;
  flex-direction: column;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 500px;
  transition: 0.3s;
}

nav li a:hover{
  color:rgb(186, 184, 184);
}

.active{
  color:rgb(186, 184, 184);
}

#hideSidebar{
  display: none;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid white;
  fill: white;
  padding: 10px 20px 0px;
}

.header1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header1 label{
  display: none;
  width: 40px;
  fill: black;
}

input[type=checkbox]{
  display: none;
}

.logo{
  text-align: center;
}

.logo h1{
  font-weight: 400;
  font-size: 40px;
  transition: 0.3s;
  cursor: pointer;
}

.logo p{
  font-size: 20px;
}

.logo h1:hover{
  color: goldenrod;
}

.header2{
  display: flex;
  width: 100%;
  justify-content: center;
}
.header-topic, .header-topic span{
  display: flex;
  align-items: center;
  margin: 10px;
}

.header-topic h1{
  font-size: 50px;
  text-wrap: nowrap;
}

.header-topic span box-icon{
  transform: scale(2);
  rotate: 45deg;
}

.slider{
  max-width: 1200px;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  height: 100%;
  transition: 2s;
}

.slide img{
  width: 100%
}

.auto-nav{
  position: absolute;
  display: flex;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
}

.auto-nav div{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid red;
  transition: 1s;
}

.auto-nav div:not(:last-child){
  margin-right: 20px;
}

.manaul-nav{
  position: absolute;
  display: flex;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
}

#manual-btn{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  transition: 1s;
}

#manual-btn:not(:last-child){
  margin-right: 20px;
}

#manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#radio1:checked ~ .auto-nav .auto-btn1{
  background-color: white;
}

#radio2:checked ~ .auto-nav .auto-btn2{
  background-color: white;
}

#radio3:checked ~ .auto-nav .auto-btn3{
  background-color: white;
}

#radio4:checked ~ .auto-nav .auto-btn4{
  background-color: white;
}




/* MAIN */


.main1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

#main1-topic{
  font-size: 18px;
  color: goldenrod;
}



.main1 h5{
  font-size: 24px;
  text-align: center;
}

.main1 a:hover{
  color: goldenrod;
}

.main1-img{
  display: flex;
  position: relative;
  width: 100%;
  min-height: 250px;
  max-height: 550px;
  overflow: hidden;
  margin: 20px 0;
}

.main1-img img{
  width: 100%;
}

.main1-footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main1-footer button{
  padding: 10px 16px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
}

.main1-socials{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.main1-socials box-icon{
  margin: 2px;
}

.main1-chat{
  display: flex;
  align-items: center;
}

.pager{
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  justify-content: center;
  margin: 20px 0;
}

.pager a{
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 4px;
}


.pager a:hover{
  background-color: black;
  color: white;
  fill: white;
}

.search{
  display: flex;
  align-items: center;
  border: 2px solid black;
  height: 120px;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.form-input{
  display: flex;
  position: relative;
  width: min(360px, 100%);
  height: 40px;
  border: 1px solid black;
}

.form-input input{
  display: flex;
  position: relative;
  border: none;
  outline: none;
  height: fit-content;
  width: min(300px, 100%);
  font-size: 20px;
  padding: 6px 10px;
  overflow: hidden;
}

.search-btn{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: min(60px, 20%);
  height: 40px;
}

.search-btn box-icon{
  fill: white;
}

fieldset{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.fig-content{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-width: 360px;
  min-width: 320px;
  max-height: 160px;
  margin: 10px 0;
}

.fig-img{
  display: flex;
  max-width: 140px;
  margin-right: 10px;
}

.fig-img img{
  width: 100%;
}

.fig-brief{
  display: flex;
  margin-left: 10px;
}

legend{
  margin: auto;
  width: 90%;
}

.footer1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 70px 10px;
  background-color: rgba(248, 248, 248, 0.785);
}

.footer1-item{
  display: flex;
  flex-direction: column;
  width: min(100%);
  height: auto;
  text-align: center;
  margin: 0 10px;
}

#item-topic{
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
}

.footer1-item li:not(:last-child){
  width: 100%;
  border-bottom: 1px solid black;
}

.footer1-item li:hover{
  border: none;
}

.footer1-item li a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.footer1-item li a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: goldenrod;
}

.footer1-item li a:hover::after{
  width: 100%;
}

.footer1-item li a:hover{
  color: goldenrod;
  border: none;
}

#item-topic2{
  color: goldenrod;
  font-size: 20px;
}

.about-img{
  display: flex;
  width: min(300px, 100%);
  clip-path: circle();
  object-fit: cover;
  margin: 20px 0;
  align-self: center;
}

.about-img img{
  width: 100%;
}

.footer2{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: white;
}



















@media only screen and (max-width:580px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "aside"
    "footer";
  }

  .sidebar{
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    z-index: 1000;
    width: 0;
    background-color: rgba(0, 0, 0, 0.648);
    transition: 0.3s ease;
  }

  .sidebar ul{
    flex-direction: column;
  }

  .sidebar li{
    border-bottom: 1px solid white;
  }

  #hideSidebar{
    display: flex;
  }

  header{
    margin: 10px;
  }

  .header1{
    justify-content: space-between;
    margin: 0 0 20px;
    border-bottom: 1px solid black;
  }

  .logo{
    text-align: left;
  }

  .header1 label{
    display: block;
  }

  #show-sidebar:checked ~ .sidebar{
    right: 0;
    width: 320px;
  }

  .footer1{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .footer1-item{
    margin: 40px 0;
  }

  .header-topic h1{
    font-size: 40px;
  }
  
  .header-topic span box-icon{
    transform: scale(1.8);
    rotate: 45deg;
  }
}